h1{
    font-size: 40px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    color: #00395D;
  width: 100%;
  }

  button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#00395D;
    color: #FFFFFF;
    margin-left: 80px;
    width: 450px;
    height: 35px;
    margin-right: -40px;
    cursor: pointer;
    border-radius: 5px;
    border: none
    padding: 12px 24px

  }
  
  button:hover {
    background-color: #ff9e1b; 
  }
    
button:active{
  background-color:yellowgreen ;
  border-radius: 10px;
}